<div  class="caontainer">
    <header>
   
  <div class="header-section">
  
    <div class="header-texts">
    <img src="/assets/[removal.ai]_9ee47cf6-161d-48fa-a027-29be77f69255-176-1760454_hotel-png-image-transparent-background-hotel-3d-png.png" alt="">
    <h4>THE BEST HOTEL AROUND THE WORLD </h4>
    <h1>TRAVEL TO THIS HOTEL AND YOU ENJEOY IT !</h1>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
       eveniet quae. Minima, vitae, rem ab excepturi suscipit molestiae!</h5>
    </div>
  </div>  
    </header>
  </div>


  <h1>Hello WORLD/h1>